#content {
    margin: 0 auto;
    width: max-content;
    display: block;
}

.ttt, .ttt td {
    border: 1px solid deepskyblue;
}

.ttt {

}

.ttt td {
    width: 60px;
    height: 60px;
}

.cross-marker {
    background-color: #C84B31;
}

.circle-marker {
    background-color: #2D4263;
}

.suggestion-marker {
    background-color: #ECDBBA;
}

.board-odd-marker {
    background-color: #F0ECE3;
}

.board-even-marker {
    background-color: #DFD3C3;
}

