{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    {{ game|json_script:'game-state'}}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content">
        <p id="message-displayer"></p>
        <table class="ttt">
            <tbody>
                {% for row in fields %}
                    <tr>
                    {% for board_nr, pos in row %}
                        <td data-board-nr="{{ board_nr }}" data-pos="{{ pos }}"></td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a id="new-game-link" target="_blank" style="display: none" href="{% url 'current_game' external_session_id %}">Nowa Gra</a>
    </div>
{% endblock %}